<div class="ui container">
  <div class="ui segment">
    <b> Apartments for Rent </b>

    <table class="ui definition table">
      <tr>
        <td class="one wide column">
            <div class="ui label">Rent:</div>
        </td>
        <td>
            {{range-slider
              defaultValue='500,1500'
              value='500,1500'
              min=1
              max=5000
              step=1
              tooltip='hide'
            }}
        </td>
      </tr>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Listings
    </h4>

    <div class="row">
      <div class="ui one column">
        <div class="four wide column">
          <article class="listing-card">
            {{#each model as |listing|}}
            <div class="container">
              <h1>${{listing.rentAmount}}</h1>
            </div>
            <div class="divider-column">
              <h3>{{listing.apartmentName}}</h3>
            </div>
            <div class="divider-column">
              <p>{{listing.address}}</p>
              <p>Bedrooms: {{listing.bedrooms}}</p>
            </div>
            <hr>
            {{/each}}
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
